.logoMain {
  padding-bottom: 6em;
}
.productMainItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 12em;
}
.productItems:hover {
  background-color:  #F9F6E4;
  cursor: pointer;
  transform: scale(0.9);
  transition: transform 0.5s ease-in-out;
}
.productItems {
  background-color: var(--white);
  max-width: 760px;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  width: 30%;
  margin-bottom: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.productItem1 {
  width: 100%;
}
.productItemImage {
  width: 100%;
  height: auto;
}
.productItemText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-end;
}
.product_goods_name {
  font-size: 1.1em;
  font-weight: bold;
  padding: 1.5rem 0;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .productMainItem {
    padding: 0 5em;
  }
  .productItems {
    width: 48%;
  }
  .logoMain {
    padding-bottom: 6em;
  }
}

@media only screen and (max-device-width: 480px) and (orientation: portrait) {
  .logoMain {
    padding-bottom: 6em;
  }
  .productMainItem {
    padding: 0 1em;
  }
  .productItems {
    width: 100%;
    margin: 1rem;
  }
}



